include ./layouts/header.jade

script.
  <!--
  function Complete()
  {
  var Elem="Фамилия: " + document.Sel1.Family.value +
  "\\nИмя: " + document.Sel1.Name.value +
  "\\nВозраст: " + document.Sel1.Age.value +
  "\\nТелефон: " + document.Sel1.Phone.value;
  alert(Elem);
  }
  function CheckAge(age)
  {
  if(age<18)
  return "18";
  else
  return  age;
  }
  //-->

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h3.Title.text-center!= message
      form(name='Sel1')
        // Анкета
        table
          tr
            th
              b
                | Проблема-1
                b
            th
              b
                | Проблема-2
                b
            th
              b
                | Оценка
                b
          tr
            td
              input(name='Family', onblur='this.value=this.value.toUpperCase()')
            td
              input(name='Name', onblur='this.value=this.value.toUpperCase()')
            td
              input(name='Age', value='18', onblur='this.value=CheckAge(this.value)', onfocus='this.select()')
        br

        input(type='button', value='Готово', onclick='Complete();')
        input(type='reset', value='Сброс')

        div.col-md-6.col-md-offset-3.text-center
             style.
               table {border: 1px solid grey;}
               th {border: 1px solid grey;}
               td {border: 1px solid grey;}
               table {
               border-collapse: collapse;
               align-content: center;
               width: 600px;
               margin: 0 auto;
               }
               td input {
               border: none;
               background-color: transparent;
               }
















include ./layouts/footer.jade
